/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background: black;
}

canvas {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  display: block;
}

#lines-count{
  color: white;
  position: absolute;
  z-index: 1;
  /* transform: translateX(-50%); */
  right: 5%;
  font-family: 'Poppins';
}
